.wrapper {
  min-width: 85px;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  object-fit: contain;
  & .logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1px 5px;

    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 7s;
    animation-direction: alternate;
    background: white;
  }
  & .logo1 {
    animation-name: fade1;
  }
  & .logo2 {
    animation-name: fade2;
  }
  & .logo3 {
    animation-name: fade3;
  }
}
@keyframes fade1 {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade3 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
