.modal-title {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  font-family: "Baloo 2";
}
.modal-sub-title {
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 0.9rem;
  text-align: center;
}
.btn-submit {
  width: 100%;
  padding: 2px;
  line-height: 3rem;
  font-size: 0.9rem;
  background-color: var(--primary);
  color: #fff;
  border-radius: 5px;
  margin-top: 20px;
}
