@import "normalize.css";
:root {
  --primary: rgb(0, 111, 60);
  --default-layout-header-height: 72px;
  --default-layout-width: 1265px;
  --text-color: #333;
  --white: #fff;
  --black: #000;
  --font-family: sans-serif;
  --border-color: #bdc3c7;
  --search-boder-radius: 30px;
  --search-icon-width: 40px;
  --cool-border: 1px solid rgb(236, 239, 241);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--text-color);
  text-rendering: optimizeSpeed;
  // overflow-y: overlay; //thanh crollbar nổi lên
}
// //scrollbar
// html *::-webkit-scrollbar {
//   border-radius: 0;
//   width: 8px;
// }

// html *::-webkit-scrollbar-thumb {
//   border-radius: 4px;
//   background-color: rgba(22, 24, 35, 0.06);
// }

// html *::-webkit-scrollbar-track {
//   border-radius: 0;
//   background-color: rgba(0, 0, 0, 0);
// }
///////////
input,
button,
[tabindex] {
  border: none;
  outline: none;
}
a {
  //a[href] : nếu có thêm [href] thì độ ưu tiên sẽ tăng lên
  color: var(--text-color);
  text-decoration: none;
}
//custom tippy
body {
  // .tippy-box{
  //     border-radius: 8px;
  //     font-weight: 600;
  //     font-size: 16px;
  //     line-height: 22px;
  //     background-color: rgba(84, 84, 84, 0.92);
  //     color: rgb(255, 255, 255);
  //     padding: 3px;
  // }
  // .tippy-box[data-placement^=bottom]>.tippy-arrow:before{
  //     top:-8px;
  //     color:rgba(84, 84, 84, 0.92);
  // }
}
// //font embedded
// @font-face {
//     font-family: ProximaNova;
//     src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
//     font-weight: 400;
// }
// @font-face {
//     font-family: ProximaNova;
//     src: url('/assets/fonts/ProximaNova-Semibold.woff2');
//     font-weight: 600;
// }
// @font-face {
//     font-family: ProximaNova;
//     src: url('/assets/fonts/Proxima-Nova-Bold.woff');
//     font-weight: 700;

// }
// @font-face {
//     font-family: SofiaPro;
//     src: url('/assets/fonts/sofiapro-bold.woff2');
//     font-weight: 700;
// }
