.wrapper {
  //   padding: 20px;
  border: var(--cool-border);
  border-radius: 10px;
  padding-bottom: 20px;
}
.header {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .title {
    color: var(--primary);
    font-size: 1.4rem;
    font-weight: 500;
  }
}
.search {
  height: 39px;
  margin-left: 24px;
  background: rgba(22, 24, 35, 0.06);
  border-radius: var(--search-boder-radius);
  display: flex;
  box-sizing: border-box;
  position: relative;
  border: 1px solid #999;

  &:hover {
    border: 1px solid #333;
  }
  input {
    padding-left: 9px;
    // font-family: var(--font-family);
    flex: 1;
    color: #000;
    font-size: 0.8rem;
    height: 100%;
    background-color: transparent;
    caret-color: var(--primary);
  }
  input:not(:placeholder-shown) ~ .search-btn {
    color: #4c4e57;
  }
  &:focus-within {
    // border: 1px solid rgba(22, 24, 35, 0.2);
  }
}
.search,
.search-result {
  width: 434px;
}

.clear,
.loading {
  position: absolute;
  font-size: 16px;
  right: 16px;
  transform: translateY(-50%);
  top: 50%;
  color: rgba(22, 24, 35, 0.34);
}
.loading {
  animation: spinner 1s linear infinite;
}
@keyframes spinner {
  from {
    transform: translateY(-50%) rotate(0);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

.search-btn {
  position: relative;
  width: var(--search-icon-width);
  height: 100%;
  // border: top;
  float: left;
  border-top-left-radius: var(--search-boder-radius);
  border-bottom-left-radius: var(--search-boder-radius);
  color: rgba(22, 24, 35, 0.34);
  font-size: 1.8rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:active {
    background-color: rgba(22, 24, 35, 0.06);
  }
  .search-icon {
    transform: translateX(5px);
  }
}
.menu {
  display: flex;
  align-items: center;
  border-bottom: var(--cool-border);
  position: relative;
  //   margin-bottom: 100px;
  .menu_item {
    // margin-right: -20px;
    cursor: pointer;
    color: var(--primary);
    opacity: 0.4;
    padding: 10px 0 10px 20px;
    font-weight: 600;
    &:hover {
      opacity: 1;
    }
  }
  .slider {
    position: absolute;
    border-bottom: 3px solid var(--primary);
    bottom: 0;
    width: 100px;
    transition: all 0.2s ease-in-out;
  }
  .active {
    opacity: 1 !important;
  }
}
.transaction {
  padding: 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
  .no_product {
    padding: 20px;
    color: var(--primary);
    font-size: 1.2rem;
    font-weight: 600;
  }
}
