.input {
  border: 1px solid #333;
  padding: 5px 10px;
  line-height: 30px;
  width: 100%;
  border-radius: 5px;
  font-size: 0.9rem;
}
.invalid {
  margin-bottom: 0px;
  border-color: red;
}
.error {
  color: red;
  font-size: 0.9rem;
}
