.wrapper{
   
    display: flex;
    flex-direction: column;;
    // justify-content: center;
    align-items: center;
}
.container{
    margin-top:var(--default-layout-header-height);
    width: var(--default-layout-width);
    max-width: 100%;
    min-height: 1000px;
    display: flex;

}
.content{
    flex: 1;
   
}
