.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  cursor: pointer;
  margin-right: 20px;
}

.image {
  border-radius: 5px;
  width: 83px;
  height: 83px;
  display: flex;
  align-items: center;
  justify-content: center;
  & > img {
    width: 58px;
    object-fit: contain;
  }
  &:hover {
    background-color: rgb(236, 239, 241);
    border-bottom: 2px solid var(--primary);
  }
}

.title {
  color: var(--primary);
  font-size: 1.4rem;
}
.active {
  background-color: rgb(236, 239, 241);
  border-bottom: 2px solid var(--primary);
}
