.modal-logo {
  position: absolute;
  left: 50%;

  transform: translate(-50%, -50%);
}
.modal-content {
  padding: 58px 16px 16px;
}
.back-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  color: var(--primary);
  font-size: 1.6rem;
}
.modal-body {
  display: flex;
  flex-direction: column;
}

.modal-input {
  margin-top: 30px;
  padding: 18.5px 14px;
  border: 1px solid #bdc3c7;
  margin-bottom: 16px;
  border-radius: 5px;
  &:hover,
  &:focus {
    border: 1px solid var(--primary);
  }
  &.error {
    border: 2px solid red;
  }
}

.modal-close {
  position: absolute;
  top: 0;
  right: -10px;
  transform: translateY(-50%);
  // background-color: red;
  // border: 2px solid #fff;
  // border-radius: 50%;
  // width: 30px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 111, 60);
  color: #fff;
  border: 2px solid rgb(255, 255, 255);
  // outline: 0px;
  box-shadow: none;
  // position: fixed;

  z-index: 999;
  cursor: pointer;
  border-radius: 12px;
}
