.wrapper {
  border: var(--cool-border);
  border-radius: 20px;
  width: 100%;
  padding: 20px;
}
.body {
  margin-top: 20px;
}
.btn-submit {
  display: block;
  margin-top: 16px;
  margin-left: auto;
  background-color: var(--primary);
  color: #fff;
  font-weight: 600;
  // font-size: 1.3rem;
  padding: 10px 20px;
  border-radius: 5px;
}
.alert-shown {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
}
.alert-hidden {
  display: none;
}
.e-shown {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
}
.e-hidden {
  display: none;
}
